@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Montserrat:wght@400;500;600;700;800&display=swap');

    :root{
        --cor-de-fundo: #000;
        --cor-fonte-principal: #FFF;
        --cor-fonte-grandiente: linear-gradient(275deg, #00E8FF 50.8%, #38BBC8 110.76%);
        --Montserrat: 'Montserrat';
        --Barlow: 'Barlow';

    }

* {
    box-sizing: border-box;

}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-fonte-principal);
}

header{
    margin-bottom: 40px;
}

main {
    padding: 15px 0;
}

.space-btn {
    margin-left: 20%;
}

.btnn {
    display: flex;
    width: 180px;
    height: 40px;
    padding: 9.503px 33.429px;
    justify-content: center;
    align-items: center;
    gap: 7.31px;
    flex-shrink: 0;
    border-radius: 23.392px;
    border-color: #00e8ff;
    color: var(--pcv-gray, #050505);
    text-align: center;
    font-family: Montserrat;
    font-size: 9.503px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.143px;
    background-color: #00e8ff !important;

}

.btnnn {
    display: flex;
    width: 150px;
    height: 40px;
    padding: 9.503px 33.429px;
    justify-content: center;
    align-items: center;
    gap: 7.31px;
    flex-shrink: 0;
    border-radius: 23.392px;
    border-color: #00e8ff;
    color: var(--pcv-gray, #E9E9E9);
    text-align: center;
    font-family: Montserrat;
    font-size: 9.503px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.143px;
}

.principal-logo{
    width: 133px;
}

.circulo-one {
    margin-left: -124%;
}

.contract-btn{
margin-top: 1.3%;
margin-left: 1%;
position: absolute;
}
.nav-link {
    color: var(--pcv-gray, #E9E9E9) !important;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.336px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.23px;
}
a {
    text-decoration: none;

}

.nav-link:hover {
    color: #00e8ff !important;
}

.nav-link {
    color: var(--pcv-gray, #E9E9E9) !important;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.336px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.23px;
    
}

.nav-link:hover{
    color: #00e8ff !important;
}

.equipe__titulo {
    font-family: var(--Montserrat);
    font-size: 56px;
    font-weight: 800;
}
.equipe__texto--destaque{
    background: var(--cor-fonte-grandiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.equipe__descricao{
    font-family: var(--Montserrat);
    font-size: 18px;
    font-weight: 500;
}
.membros-lista{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px 0;
}
.membro{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.membro__foto{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 200px;
}
.membro__linkedin{
    color: var(--cor-fonte-principal);
    font-size: 35px;
    text-decoration: none;
}
.membro__linkedin:hover{
    background: var(--cor-fonte-grandiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.caixa-cargo-linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membro__cargo{
    font-family: var(--Montserrat);
    font-weight: 500;
    margin: 0;
    text-align: center;
}

footer{
    background: var(--pcv-black, #101010);
    width: 100%;
}

.footer__elementos {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
}

.footer__logo-e-direitos{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 51px;
}

.footer__elementos__logo{
    width: 179px;
}

.footer__direitos{
    font-family: var(--Barlow);
    font-size: 16px;
    font-weight: 500;
}

.footer__redes-sociais{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer__redes-sociais__icone{
    filter: invert(95%) sepia(0%) saturate(7475%) hue-rotate(77deg) brightness(106%) contrast(108%);
    width: 24px;
}

@media screen and (max-width: 1200px){
    .membros-lista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px 0;
    }
}

@media screen and (max-width: 920px){
    .footer__elementos{
        flex-direction: column;
    }

    .footer__logo-e-direitos{
        flex-direction: column;
        gap: 10px;
    }

    .footer__direitos{
        text-align: center;
        font-size: 12px;
    }
}

@media screen and (max-width: 992px){
    .membros-lista{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 50px 0;
    }
}

@media screen and (max-width: 768px){
    .membros-lista{
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 0;
    }
}